{%extends 'base.html'%}

{%block title%}

{%endblock%}

{%block content%}
<h2>This is my gallery page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam animi, aperiam, autem culpa debitis, deleniti ea et exercitationem facilis inventore ipsam itaque iusto maxime minima nam nihil non odit quae reiciendis rem repudiandae rerum voluptas. Corporis debitis eos et illo repudiandae sit ullam, vitae.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid blanditiis cum cumque ducimus expedita ipsam iure laboriosam magnam modi molestiae natus neque nihil possimus, quia quod reiciendis repellendus sed sequi tenetur. Aliquam eius enim error magnam, qui quibusdam unde? Accusantium debitis, ea itaque modi nulla officia quasi sint tempore?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus aperiam atque, aut consequuntur culpa cum eius enim eveniet facilis fugiat illo illum incidunt ipsa itaque labore laudantium magni maxime natus nisi nostrum pariatur quasi quibusdam quod saepe temporibus velit? Assumenda blanditiis consequatur cumque distinctio, ex fuga harum, ipsum laudantium nisi optio possimus ratione, rem repellendus velit veniam? Consequatur, dignissimos?</p>

{%endblock%}