{% extends 'base.html' %}

{% block title %}
<h1>this is my Index page</h1>
{% endblock %}

{%block content%}

<table align="center" bgcolor="#b8860b" border="2px">
    <tr>
        <th>NAME</th>
        <th>GENDER</th>
        <th>AGE</th>
        <th>LOCATION</th>
    </tr>
    <tr>
        <td>LENNY</td>
        <td>MALE</td>
        <td>18</td>
        <td>WESTLANDS</td>
    </tr>
    <tr>
        <td>DANIEL</td>
        <td>MALE</td>
        <td>29</td>
        <td>NAIROBI</td>

    </tr>
     <tr>
        <td>ESTHER</td>
        <td>FEMALE</td>
        <td>26</td>
        <td>KIAMBU</td>

    </tr>
     <tr>
        <td>LAWRENCE</td>
        <td>MALE</td>
        <td>15</td>
        <td>MURANG'A</td>

    </tr>
     <tr>
        <td>FAITH</td>
        <td>FEMALE</td>
        <td>18</td>
        <td>NAKURU</td>

    </tr>
</table>
{%endblock%}